.x-panel.p5ced158fd7184fe9b7a684459697f2ec-iosstatusbar >
.x-panel-top {height: 48px;}.x-panel.p5ced158fd7184fe9b7a684459697f2ec-iosstatusbar >
                            .x-panel-content { top: 48px;bottom: nullpx;}
.x-panel.p5ced158fd7184fe9b7a684459697f2ec-iosstatusbar >
.x-panel-bottom {height: nullpx;}.iosstatusbar
                                 .x-panel.p5ced158fd7184fe9b7a684459697f2ec-iosstatusbar >.x-panel-top {height: 68px;}.
                                 iosstatusbar .x-panel.p5ced158fd7184fe9b7a684459697f2ec-iosstatusbar >.
                                 x-panel-content { top: 68px;}.iosstatusbar .x-panel .x-panel-content .x-panel.p5ced158fd7184fe9b7a684459697f2ec-iosstatusbar >.x-panel-top {height: 48px;}.iosstatusbar .x-panel .x-panel-content .x-panel.p5ced158fd7184fe9b7a684459697f2ec-iosstatusbar >.x-panel-content {top: 48px;}
